<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h2>Добавление товара</h2>
    <form method = "post">
        {% csrf_token %}
        <p>
            <label for="">Введите название товара</label><br>
            <input type="text" name = "name" />
        </p>
        <p>
            <label for="">Введите цену</label><br>
            <input type="number" name = "price" />
        </p>
        <p>
            <label for="">Введите компанию</label><br>
            <select name="company">
            {% for company in companies %}
                <option value = "{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
            </select>
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>